.widefat input {
	border:1px solid #DDDDDD;
	font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	line-height:20px;
	padding:4px;
}

.wpm_header_link{
	color:#888888;
	text-decoration:none;
}
.wpm_header_sorta{
	background:url(http://work/wordpress/wp-content/plugins/wishlist-member/images/arrdn.gif) center right no-repeat;
	padding-right:12px;
}
.wpm_header_sortd{
	background:url(http://work/wordpress/wp-content/plugins/wishlist-member/images/arrup.gif) center right no-repeat;
	padding-right:12px;
}

.wpm_nowrap td{
	white-space:nowrap;
}

ul.view-switch {
	float: right;
	list-style: none;
	margin: -23px 5px -2px 0;
	position: relative;
}

ul.view-switch li {
	float: left;
	margin: 0;
	font-size: 11px;
	padding: 4px 6px;
	font-weight: bold;
}

ul.view-switch li.current a {
	color: #333333;
}

.wrap h2{
	border-bottom: 1px solid #DADADA;
}