/* Wish List Stylesheet */

.WLRequired{
	background:url(../images/asterisk.gif) no-repeat right 10px;
}

.WLSubMenu{
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	height:2em;
	font-size:14px;
	clear:both;
	background:#ECECEC none repeat scroll 0 0;
}
.WLSubMenu li{
	float:left;
	padding:0;
	margin:0;
}
.WLSubMenu li a{
	display:block;
	float:left;
	margin:0 0 0 12px;
	padding:0 5px;
	text-decoration:none;
	line-height:200%;
}
.WLSubMenu li a.current{
	color:#D54E21;
}

#submenu li{
	padding:0;
	margin:0;
}
#submenu li a{
	margin:0 0 0 12px;
	padding:0 5px;
	display:block;
	float:left;
}
#submenu li a.current{
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#ECECEC none repeat scroll 0 0;
}